@import "./reset";

html {
    width: 100%;
    height: 100%;

    body {
        width: 100%;
        height: 100%;

        //header
        header {
            width: 100%;
            height: auto;
            margin-bottom: 5vw;

            .top {
                width: 100%;
                height: 13vw;
                position: relative;

                p {
                    position: absolute;
                    color: #fff;
                    font-weight: bold;
                    font-size: 5.5vw;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                }
            }

            .bottom {
                width: 100%;
                height: auto;

                .logo {
                    width: 39vw;
                    height: 16vw;
                    background: url('../images/logo.png') no-repeat;
                    background-size: 100%;
                    margin: 4vw auto 5vw;
                }

                p {
                    text-align: center;
                    color: #fff;
                    font-size: 12px;
                    letter-spacing: 2px;
                }
            }
        }

        //main
        section {
            width: 90%;
            height: auto;
            background: #fff;
            border: solid 1px #dcdcdc;
            border-radius: 15px;
            box-shadow: 0px 0px 10px 1px #878d93;
            margin: 0px auto;
            overflow: hidden;

            .box {
                width: 100%;
                height: auto;
                padding: 2.2vw 5vw;
                box-sizing: border-box;
                border-bottom: solid 1px #dcdcdc;
                
                &:last-child {
                    font-size: 0px;
                    padding: 0px;
                }
                
                span {
                    display: inline-block;
                    width: 16%;
                    height: auto;
                    font-size: 3vw;
                    padding-right: 2vw;
                }

                select,input {
                    width: 80%;
                    height: 9vw;
                    padding-left: 5px;
                    border: solid 1px #c0c0c0;
                    border-radius: 5px;
                    background: #f8f8f8;
                    color: #000;
                    font-size: 3.5vw;
                    box-sizing: border-box;
                }

                input {
                    padding-left: 10px;
                }

                button {
                    width: 50%;
                    height: 12vw;
                    background: #a4a4a4;
                    color: #fff;
                    font-size: 4vw;

                    &:hover,&:active,&.active {
                        background: #444;
                    }

                    &.sent {
                        background: #bd9872;

                        &:hover,&:active,&.active {
                            background: #c7925e;
                        }
                    }
                }
            }
        }

        //背景
        .bg {
            width: 100%;
            height: 100%;
            background: linear-gradient(to top,#fff 0%,#979797 100%);
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: -999;
        }
    }
}

@media screen and(max-width: 360px) {
    html {

        body {

            main {

                .box {

                    span {
                        width: 17%;
                    }

                    select,input {
                        width: 79%;
                    }
                }
            }
        }
    }
}

@media screen and(max-width: 320px) {
    html {

        body {

            main {

                .box {
                    padding: 1.5vw 3vw;

                    span {
                        width: 18%;
                    }

                    select,input {
                        width: 77%;
                    }
                }
            }
        }
    }
}